<div *ngIf="selectedProjectCategory === 'All'">
  <app-web-gl-project></app-web-gl-project>
  <br>
  <app-birth-day></app-birth-day>
  <br>
  <app-ds-projects></app-ds-projects>
  <br>
  <app-special-effects></app-special-effects>
</div>
<div *ngIf="selectedProjectCategory === 'WebGL-Project(OpenGLES)'">
  <app-web-gl-project></app-web-gl-project>
</div>
<div *ngIf="selectedProjectCategory === 'DS-Projects(OpenGL FFP)'">
  <app-ds-projects></app-ds-projects>
</div>
<div *ngIf="selectedProjectCategory === 'Birthday-Projects'">
  <app-birth-day></app-birth-day>
</div>
<div *ngIf="selectedProjectCategory === 'Special-Effects'">
  <app-special-effects></app-special-effects>
</div>