<section>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/YOITVOIK-GY" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Sagar's</b></h2>
      </div>
      <div class="Desc">
        MATRIX Group: Birthday Demo #4 for Ishan Awate
        Group Leader: Pradnya Vijay Gokhale
        Technology Used: OpenGL and Win32 SDK

        Concepts Used :
        - 2D Primitive Geometry for drawing.
        - glPushMatrix() and glPopMatrix()
        - PlaySound() used for playing audio
        - Images files used as textures

        Music : OM - The Sound of the Universes by Loki Down | Epic Cinematic Background by Michael Nik

        Project Leader: Aishwarya Kendle
        Developers: Amogh Dhupkar Atharv Natu Mrunal Bajaj KISHOR EKBOTE Pratik Jagadale Rama Gokhale Rutvik Nalawade
        Sagar Rathod Sahil Choure Varun Gajre

        #opengl #astromedicomp #ffp #animation #MATRIXgroup #learning #project
      </div>
    </div>
  </div>
  <br>

  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/5tuYZ2XZFZc" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Isan Awate</b></h2>
      </div>
      <div class="Desc">
        MATRIX Group: Birthday Demo #4 for Ishan Awate
        Group Leader: Pradnya Vijay Gokhale
        Technology Used: OpenGL and Win32 SDK

        Concepts Used :
        - 2D Primitive Geometry for drawing.
        - glPushMatrix() and glPopMatrix()
        - PlaySound() used for playing audio
        - Images files used as textures

        Music : OM - The Sound of the Universes by Loki Down | Epic Cinematic Background by Michael Nik

        Project Leader: Aishwarya Kendle
        Developers: Amogh Dhupkar Atharv Natu Mrunal Bajaj KISHOR EKBOTE Pratik Jagadale Rama Gokhale Rutvik Nalawade
        Sagar Rathod Sahil Choure Varun Gajre

        #opengl #astromedicomp #ffp #animation #MATRIXgroup #learning #project
      </div>
    </div>
  </div>
  <br>


  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/Qt8kMHFz_pk" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Aishwarya's</b></h2>
      </div>
      <div class="Desc">
        This is the very first birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Aishwarya Kendle's birthday.

        MATRIX Group: Birthday Demo #1 for Aishwarya Kendle

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK

        Programming Language: C/C++

        Concepts Used :
        - 2D Primitive Geometry for drawing.
        - PlaySound() used for playing audio

        Music : "Birthday Aahe Bhavacha" by Shekhar Gaikwad.

        Project Leader : Pradnya Vijay Gokhale
        Developers : Amogh Dhupkar, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik Jagadale, Rama
        Gokhale, Rutvik Nalawade, Sagar Rathod, Sahil Choure and Varun Gajre.

      </div>
    </div>
  </div>


  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/dP8dyXNNcPk" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Amogh's</b></h2>
      </div>
      <div class="Desc">
        This is the third birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Amogh Dhupkar's birthday.

        MATRIX Group: Birthday Demo #3 for Amogh Dhupkar

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK

        Programming Language: C/C++

        Concepts Used :
        - 2D Primitive Geometry for drawing.
        - Trigonometry For Circular Geometry
        - PlaySound() used for playing audio
        - Synchronization of animation with audio and background score

        Poem by : KISHOR EKBOTE

        Narration by : Rama Gokhale

        Project Leader : Pradnya Vijay Gokhale
        Developers : Aishwarya Kendle, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik Jagadale, Rama
        Gokhale, Rutvik Nalawade, Sagar Rathod, Sahil Choure and Varun Gajre.

      </div>
    </div>
  </div>
  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/-eyZ8QKgnwI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Rutvik's</b></h2>
      </div>
      <div class="Desc">
        This is the second birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Rutvik Nalawade's birthday.

        MATRIX Group: Birthday Demo #2 for Rutvik Nalawade

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK

        Programming Language: C/C++

        Concepts Used :
        - 2D Primitive Geometry for drawing.
        - Trigonometry For Circular Geometry
        - PlaySound() used for playing audio

        Music : Happy Birthday Instrumental

        Project Leader : Pradnya Vijay Gokhale
        Developers : Aishwarya Kendle, Amogh Dhupkar, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik
        Jagadale, Rama Gokhale, Sahil Choure, Sagar Rathod and Varun Gajre
      </div>
    </div>
  </div>
  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/PjMHcJN9Sic" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>

    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For varun's</b></h2>
      </div>
      <div class="Desc">
        Technology Used: OpenGL, OpenAL, XWindows.
        Platform - Linux
        Programming Languages: C & C++

        Concepts Used :
        -Terrain Rendering (Height map).
        -Particle System.
        -Lights, Blending.
        -gluLookAt()
        - 2D and 3D Primitive Geometry For Drawing.
        - glPushMatrix() and glPopMatrix()
        - Bitmap and PNG Images Used As Textures

        #AstroMediComp
        MATRIX Group : Birthday Demo #7 for Varun Gajre

        Group Leader: Pradnya Vijay Gokhale.

        Project Leader: Pratik Jagadale
        Developers: Aishwarya Kendle Amogh Dhupkar Mrunal Bajaj KISHOR EKBOTE Atharv Natu Rama Gokhale Rutvik Nalawade
        Sahil Choure Sagar Rathod Atharv Natu

        #OpenGL #XWindows #AstroMediComp
        #FFP #mATRIXGroup #Birthday #cpp #linux
      </div>
    </div>
  </div>


  <br>

  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/VrsPrScGkAU" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Rama Madam's</b></h2>
      </div>
      <div class="Desc">
        This project is a birthday gift for #AstroMediComp's Ramai (Rama Gokhale) who is also a member of our Matrix
        Group.

        The project is about how we have experienced Rama Gokhale madam as our group member, her different qualities and
        strengths are portrayed in different scenes like providing stability, being adaptable, enjoying colorful life
        and providing mentorship. It was a great experience to work on this project with my Matrix group members!

        MATRIX Group : Birthday Demo #9
        Technology Used : OpenGL(FFP) in XWindows

        Group Leader : Pradnya Vijay Gokhale

        Project Leader : Sahil Choure

        Poem by : (KISHOR EKBOTE)

        Voice-over by : (Mrunal Bajaj)

        Developers :Aishwarya Kendle, Atharv Natu, Amogh Dhupkar, Mrunal Bajaj, Pratik Jagadale, Rutvik Nalawade, Sagar
        Rathod KISHOR EKBOTE Varun Gajre

        #RTR
        #RTR4
        #RTR4_0
        #Matrix
        #mATRIX
        #OpenGL #RealTimeRendering #ComputerGraphics #CProgramming #XWindows
        #Linux
        #Astromedicomp
        Audio : #openAL

      </div>
    </div>
  </div>

  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/K_xrUz_0uqA" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Mrunal's</b></h2>
      </div>
      <div class="Desc">
        Hello Everyone,
        I am really glad to share this Birthday Project Demo lead by me and helped by fellow Group members.
        It is a Birthday Gift to our group member Mrunal Bajaj
        (a #GoT Fan and Wasuli Bhai of our Group 😎 )
        This Demo is based on Game of Thrones Theme with some Interactive elements like First Person Game , it has some
        aerial cutscenes before reaching the end of demo where all the gifts boxes from members can be opened .

        I really enjoyed creating this game-like demo with my group and got chance to learn many things I hadn't used
        before.
        Though this is last demo in FFP #OpenGL for this batch , hoping to be part of more Game-Like projects in future
        .


        MATRIX Group: Birthday Demo #8
        Technology Used: OpenGL (FFP) in XWindows

        This Demo is based on Game of Thrones Theme with some Interactive elements like First Person Games .


        Group Leader: Pradnya Vijay Gokhale

        Project Leader: Varun Gajre

        Developers: Aishwarya Kendle, Atharv Natu, Amogh Dhupkar, Kishore Ekbote, Pratik Jagadale, Rama Gokhale Mam
        ,Rutvik Nalawade, Sagar Rathod, Sahil Choure


        Technology Used: OpenGL, Open AL, XWindows.
        Platform - Linux - Ubuntu OS
        Programming Languages: C & C++

        Concepts Used:
        -Terrain Rendering (Height map).
        - Waving Texture for Flag
        -Particle System.
        -Alpha Blending.
        -gluLookAt()
        - 2D and 3D Primitive Geometry for Drawing.
        - glPushMatrix() and glPopMatrix()
        - Bitmap and PNG Images Used As Textures



        #realtimerendering
        #RTR4
        #Matrix
        #mATRIX
        #gameofthrones #birthday #gifts
        #OpenGL #effects #FixedFunctionalPipeline #FFP #graphics
        #gaming #CProgramming #XWindows
        #Linux #ubuntu #C++
        #Astromedicomp
      </div>
    </div>
  </div>

  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/MQ6WWSP_2PI" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Atharv Natu's</b></h2>
      </div>
      <div class="Desc">
        Sharing this birthday demo, which I led with assistance from my group members.
        Crafted with ❤, for Atharv Natu, our fellow group member.

        This is a 3D Holographic animation and works on the principle of reflection.

        When placed at a certain angle, the optics of the glass creates an illusion that makes your brain interpret the
        digital content as three-dimensional. This is what creates the sensation of seeing a free-floating hologram
        before your eyes.

        MATRIX Group: Birthday Demo #12
        Technology Used: OpenGL ES 3.2
        Platform: Android
        Programming Languages: Java

        Group Leader: Pradnya Vijay Gokhale
        Project Leader: Aishwarya Kendle
        Developers:
        Varun Gajre,
        Mrunal Bajaj,
        Amogh Dhupkar,
        Kishor Ekbote,
        Pratik Jagadale,
        Rama Gokhale Ma'am,
        Rutvik Nalawade,
        Sagar Rathod,
        Sahil Choure

        Concepts Used:
        - Multiple Viewports
        - Particle System
        - Flag effect [Vertex Displacement]
        - 2D and 3D Primitive Geometry for Drawing.
        - PNG Images Used As Textures
        - Lights

        #realtimerendering
        #RTR4
        #Matrix
        #matrix
        #birthday #gifts
        #OpenGL #effects #ProgrammablePipeline #graphics
        #gaming #OpenGLES #android
        #Astromedicomp #3D #hologram #java

      </div>
    </div>
  </div>

  <br>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/E2WFw94jyWc" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For Kishors</b></h2>
      </div>
      <div class="Desc">
        We presented this demo to Kishor Ekbote on the occasion of his birthday.
        The main thing is that this demo is in OpenGL Programmable Pipeline on Windows Platform.
        The theme of the demo is to make our own library of 3D primitives geometry - "3DModels.dll" (Dynamic Link
        Library).
        And created birthday presentation using that library.

        Technical Details :

        Technologies Used :
        -Rendering Technology: OpenGL(Programmable Pipeline)
        -Programming Language: c++
        -FLAG EFFECT[Vertex Displacement]
        -2D-3D primitives geometry
        -LIGHTS

        References :
        1. All “Real-Time Rendering” (RTR) Course Assignments
        2. “Learn OpenGL” Website (https://learnopengl.com/
        )
        3. OpenGL 4.0 Shading Language Cookbook - By David Wolff
        4. GLU and FreeGLUT 3D primitives functionality

        Software Used :
        1. Audacity

        MATRIX Group: Birthday Demo #11

        Group Leader : Pradnya Vijay Gokhale
        Project Leader : Amogh Dhupkar
        Participating Members :
        1. Aishwarya Kendle
        2. Atharv Natu
        3. Pratik Jagadale
        4. Mrunal Bajaj
        5. Rama Vijay Gokhale Madam
        6. Rutvik Nalawade
        7. Sagar Rathod
        8. Sahil Choure
        9. Varun Gajre

        Background Music :
        Kishori Amonkar- Rag Haunsadhwani (Tarana)

        Hashtags :

        #AstroMediComp
        #OpenGL
        #dll
        #Win32 SDK
        #ComputerGraphics
        #RealTimeRendering
        #RTR
        #RTR4_0
        #RTR2021
        #RTR2021_Matrix
        #Programming
        #c++
        #ProgrammablePipeline

      </div>
    </div>
  </div>

  <br>

  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/A_egoiVA_z8" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Birthday Demo For GL </b></h2>
      </div>
      <div class="Desc">
        MATRIX Group: Birthday Demo #6 for Pradnya Vijay Gokhale
        Group Leader: Pradnya Vijay Gokhale
        Technology Used: OpenGL and Win32 SDK


        Project Leader: Mrunal Bajaj
        Developers: Amogh Dhupkar | Atharv Natu | Aishwarya Kendle | KISHOR EKBOTE | Pratik Jagadale | Rama Gokhale |
        Rutvik Nalawade | Sagar Rathod | Sahil Choure | Varun Gajre
      </div>
    </div>
  </div>

</section>