.u-section-1 {
    background-image: none;
}

.u-section-1 .u-sheet-1 {
    min-height: 608px;
}

.u-section-1 .u-video-1 {
    height: 360px;
    width: 640px;
    margin: 59px auto 0;
}

.u-section-1 .embed-responsive-1 {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.YouTube {
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

.u-section-1 .u-text-1 {
    margin: 30px auto 0;
}

.u-section-1 .u-text-2 {
    width: 680px;
    margin: 20px auto 49px;
}

@media (max-width: 767px) {
    .u-section-1 .u-sheet-1 {
        min-height: 549px;
    }

    .u-section-1 .u-video-1 {
        height: 300px;
        margin-top: 60px;
        margin-right: initial;
        margin-left: initial;
        width: auto;
    }

    .u-section-1 .u-text-1 {
        margin-top: 20px;
        margin-left: 0;
    }

    .u-section-1 .u-text-2 {
        width: 540px;
        margin-bottom: 40px;
    }
}

@media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
        min-height: 473px;
    }

    .u-section-1 .u-video-1 {
        height: 190px;
        width: auto;
        margin-right: initial;
        margin-left: initial;
    }

    .u-section-1 .u-text-2 {
        width: 340px;
        margin-bottom: 60px;
    }
}


.grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 900px;
    margin-top: 3rem;
}

.card {
    margin: 1rem;
    flex-basis: 45%;
    padding: 1.5rem;
    text-align: left;
    color: inherit;
    text-decoration: none;
    border: 1px solid #eaeaea;
    border-radius: 10px;
    transition: color 0.15s ease, border-color 0.15s ease;
    margin-left: 10vw;
}

.card:hover,
.card:focus,
.card:active {
    color: grey;
    border-color: black;
}

.card h3 {
    margin: 0 0 1rem 0;
    font-size: 1.5rem;
}

.card p {
    margin: 0;
    font-size: 1.25rem;
    line-height: 1.5;
}

.video {
    border-radius: 25px;
    border: 1px solid gray;
    padding: 20px;
    flex: auto;
    align-items: right;
    text-align: right;
    height: 20vw;
    width: 27vw;
    margin-left: 15vw;
}