<body class="u-body u-xl-mode" data-lang="en">
  <!-- 1 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/D9cCJg2vMwA?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Pandora</h2>
      <p class="u-text u-text-2"><br>
        It is a memory of those ancient days, when OpenGL meant a fairyland and Dr. Vijay D. Gokhale Sir was the
        magician who sprinkled pixie dust with his magic wand while we toured through the wonders of graphics and were
        awed by his demos.
        Years passed by and we dreamed to touch this flame of knowledge, try to mimck those mile stones with our
        limitations.

        Sir always tells students that movies, like Jurrassic Park, Avatar are made with those softwares which has
        OpenGL at their core technology. As it is said ... "Low Aim Is Crime"... we have dared to recreate a tiny world
        of ours resembling to that of James Cameron's Avatar, and present it to one of our dearest group member, Sahil
        Choure, on occasion of his birthday.<br>
        <br>
        Project Leader: Rama Gokhale(Madam).<br>
        Technology Used
        <br>
        OpenGL Programmable Pipeline
        Win32 SDK
        <br><br>
        Effects Used
        <br>
        Vignette<br>
        Water Rendering<br>
        Caustic Effect<br>
        Atmospheric Scattering<br>
        Vertex Displacement<br>
        Vertex Noise<br>
        Value Noise<br>
        Bloom<br>
        Terrain Rendering<br>
        Wobble<br>
        Multi texturing<br>
        Static model loading.<br>
      </p>
    </div>
  </section>


  <!-- 2 Sir Birthday-->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/O3F2mdsHvbk?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Unplugged</h2>
      <p class="u-text u-text-2"><br>
        We presented this demo to Gokhale Sir on the occasion of his birthday.
        The main thing is that this demo is done on Android platform.
        The theme of the demo is inspired from the movie : "The Matrix".
        Morpheus gives Neo a chance to know everything by giving him the “red pill”.
        We have shown that sir shows the way to success by teaching his five rules to all his students. These five rules
        are the “five red pills” for us.
        The demo is user-interactive.<br>

        Project Leader : Pratik Jagadale<br>
        Technical Details :<br>

        Technologies Used :
        Rendering Technology: OpenGL ES 3.2 (Programmable Pipeline)<br>
        Windowing and User Interface: Android SDK<br>
        Operating System: Android 12.0<br>
        Programming Language: Java<br>

        References :<br>
        1. All “Real-Time Rendering” (RTR) Course Assignments<br>
        2. “Learn OpenGL” Website (https://learnopengl.com/)<br>

        Softwares Used :<br>
        1. Adobe Photoshop<br>


        Background Music :<br>
        "Crepuscolo Sul Mare" by Piero Umiliani.<br>
        (From "Ocean's Twelve" Original Soundtracks).<br>
      </p>
    </div>
  </section>

  <!-- 3 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/MQ6WWSP_2PI?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">3D Holographic animation and works on the principle of reflection.</h2>
      <p class="u-text u-text-2"><br>
        This is a 3D Holographic animation and works on the principle of reflection.
        <br>
        When placed at a certain angle, the optics of the glass creates an illusion that makes your brain interpret the
        digital content as three-dimensional. This is what creates the sensation of seeing a free-floating hologram
        before your eyes.<br>

        MATRIX Group: Birthday Demo #12
        Technology Used: OpenGL ES 3.2
        Platform: Android
        Programming Languages: Java<br>

        Project Leader: Aishwarya Kendle<br>

        Concepts Used:
        - Multiple Viewports
        - Particle System
        - Flag effect [Vertex Displacement]
        - 2D and 3D Primitive Geometry for Drawing.
        - PNG Images Used As Textures
        - Lights.<br>
      </p>
    </div>
  </section>


  <!-- 4 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/E2WFw94jyWc?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">3D primitives geometry Library.</h2>
      <p class="u-text u-text-2"><br>
        We presented this demo to Kishor Ekbote on the occasion of his birthday.
        The theme of the demo is to make our own library of 3D primitives geometry - "3DModels.dll" (Dynamic Link
        Library).
        And created birthday presentation using that library.

        <br>
        Technologies Used :<br>
        -Rendering Technology: OpenGL(Programmable Pipeline)<br>
        -Programming Language: c++<br>
        -FLAG EFFECT[Vertex Displacement]<br>
        -2D-3D primitives geometry<br>
        -LIGHTS<br>

        References :<br>
        1. All “Real-Time Rendering” (RTR) Course Assignments<br>
        2. “Learn OpenGL” Website (https://learnopengl.com/)<br>
        3. OpenGL 4.0 Shading Language Cookbook - By David Wolff<br>
        4. GLU and FreeGLUT 3D primitives functionality<br>

        Software Used :<br>
        1. Audacity<br>

        Project Leader : Amogh Dhupkar<br>
        Background Music :
        Kishori Amonkar- Rag Haunsadhwani (Tarana).<br>
      </p>
    </div>
  </section>

  <!-- 5 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/K_xrUz_0uqA?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">based on Game of Thrones Theme with some Interactive elements like
        First Person Game.</h2>
      <p class="u-text u-text-2"><br>
        This Demo is based on Game of Thrones Theme with some Interactive elements like First Person Game , it has some
        aerial cutscenes before reaching the end of demo where all the gifts boxes from members can be opened.<br>

        I really enjoyed creating this game-like demo with my group and got chance to learn many things I hadn't used
        before.<br>
        Though this is last demo in FFP #OpenGL for this batch , hoping to be part of more Game-Like projects in
        future.<br>

        <br>
        MATRIX Group: Birthday Demo #8
        Technology Used: OpenGL (FFP) in XWindows.<br>

        Project Leader: Varun Gajre.<br>

        Technology Used:<br>
        OpenGL.<br>
        Open AL.<br>
        XWindows.<br>
        Platform - Linux - Ubuntu OS.<br>
        Programming Languages: C & C++<br>

        Concepts Used:<br>
        -Terrain Rendering (Height map).<br>
        - Waving Texture for Flag<br>
        -Particle System.<br>
        -Alpha Blending.<br>
        -gluLookAt().<br>
        - 2D and 3D Primitive Geometry for Drawing.<br>
        - glPushMatrix() and glPopMatrix().<br>
        - Bitmap and PNG Images Used As Textures.<br>
      </p>
    </div>
  </section>



  <!-- 6 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/VrsPrScGkAU?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Ramai.</h2>
      <p class="u-text u-text-2"><br>
        This project is a birthday gift for #AstroMediComp's Ramai (Rama Gokhale) who is also a member of our Matrix
        Group.<br>

        The project is about how we have experienced Rama Gokhale madam as our group member, her different qualities and
        strengths are portrayed in different scenes like providing stability, being adaptable, enjoying colorful life
        and providing mentorship. It was a great experience to work on this project with my Matrix group members!<br>

        MATRIX Group : Birthday Demo #9<br>
        Technology Used : OpenGL(FFP) in XWindows<br>

        Group Leader : Pradnya Vijay Gokhale<br>

        Project Leader : Sahil Choure<br>

        Poem by : (KISHOR EKBOTE)<br>

        Voice-over by : (Mrunal Bajaj).<br>
      </p>
    </div>
  </section>


  <!-- 7 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/PjMHcJN9Sic?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">The Cat.</h2>
      <p class="u-text u-text-2"><br>
        This project is a birthday gift for varun Gajre which is a member of our Matrix
        Group. varun lots love cat. and in that period sir teach us light in opengl so we have focused that
        and also have tried to build rainy enviroment.<br>

        MATRIX Group : Birthday Demo #7 for Varun Gajre<br>

        Group Leader: Pradnya Vijay Gokhale.<br>

        Project Leader: Pratik Jagadale<br><br>
        Technology Used: OpenGL, OpenAL, XWindows.<br>
        Platform - Linux<br>
        Programming Languages: C & C++<br><br>

        Concepts Used :<br>
        -Terrain Rendering (Height map).<br>
        -Particle System.<br>
        -Lights, Blending.<br>
        -gluLookAt().<br>
        - 2D and 3D Primitive Geometry For Drawing.<br>
        - glPushMatrix() and glPopMatrix().<br>
        - Bitmap and PNG Images Used As Textures.<br>
      </p>
    </div>
  </section>

  <!-- 8 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/YOITVOIK-GY?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Birthday Demo for Sagar Birthday.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>


  <!-- 9 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/A_egoiVA_z8?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">GL चा वाढदिवस.</h2>
      <p class="u-text u-text-2"><br>
        MATRIX Group: Birthday Demo #6 for Pradnya Vijay Gokhale<br>
        Group Leader: Pradnya Vijay Gokhale<br>
        Technology Used: OpenGL and Win32 SDK<br>
        Project Leader: Mrunal Bajaj<br>
      </p>
    </div>
  </section>

  <!-- 10 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/A_egoiVA_z8?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Birthday Demo #4 for Ishan Awate.</h2>
      <p class="u-text u-text-2"><br>
        MATRIX Group: Birthday Demo #4 for Ishan Awate<br>
        Group Leader: Pradnya Vijay Gokhale<br>
        Technology Used: OpenGL and Win32 SDK<br>

        Concepts Used :<br>
        - 2D Primitive Geometry for drawing.<br>
        - glPushMatrix() and glPopMatrix()<br>
        - PlaySound() used for playing audio<br>
        - Images files used as textures<br>

        Music : OM - The Sound of the Universes by Loki Down | Epic Cinematic Background by Michael Nik<br>

        Project Leader: Aishwarya Kendle<br>
        Developers: Amogh Dhupkar Atharv Natu Mrunal Bajaj KISHOR EKBOTE Pratik Jagadale Rama Gokhale Rutvik Nalawade
        Sagar Rathod Sahil Choure Varun Gajre.<br>
      </p>
    </div>
  </section>


  <!-- 11 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/dP8dyXNNcPk?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1"> Birthday Demo #3 for Amogh Dhupkar.</h2>
      <p class="u-text u-text-2"><br>
        This is the third birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Amogh Dhupkar's birthday.<br>

        MATRIX Group: Birthday Demo #3 for Amogh Dhupkar<br>

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK<br>

        Programming Language: C/C++<br>

        Concepts Used :<br>
        - 2D Primitive Geometry for drawing.<br>
        - Trigonometry For Circular Geometry<br>
        - PlaySound() used for playing audio<br>
        - Synchronization of animation with audio and background score<br>

        Poem by : KISHOR EKBOTE<br>

        Narration by : Rama Gokhale<br>

        Project Leader : Pradnya Vijay Gokhale<br>
        Developers : Aishwarya Kendle, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik Jagadale, Rama
        Gokhale, Rutvik Nalawade, Sagar Rathod, Sahil Choure and Varun Gajre.<br>
      </p>
    </div>
  </section>


  <!-- 12 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/MQ6WWSP_2PI?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Birthday Demo #2 for Rutvik Nalawade.</h2>
      <p class="u-text u-text-2"><br>
        This is the second birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Rutvik Nalawade's birthday.<br>

        MATRIX Group: Birthday Demo #2 for Rutvik Nalawade<br>

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK<br>

        Programming Language: C/C++<br>

        Concepts Used :<br>
        - 2D Primitive Geometry for drawing.<br>
        - Trigonometry For Circular Geometry<br>
        - PlaySound() used for playing audio<br>

        Music : Happy Birthday Instrumental<br>

        Project Leader : Pradnya Vijay Gokhale<br>
        Developers : Aishwarya Kendle, Amogh Dhupkar, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik
        Jagadale, Rama Gokhale, Sahil Choure, Sagar Rathod and Varun Gajre.<br>
      </p>
    </div>
  </section>

  <!-- 13 -->
  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/Qt8kMHFz_pk?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1"> Birthday Demo #1 for Aishwarya Kendle.</h2>
      <p class="u-text u-text-2"><br>
        This is the very first birthday demo developed (as a part of learning) by AstroMediComp's RTR 4.0 Batch "MATRIX"
        group. This was for fellow group member Aishwarya Kendle's birthday.<br>

        MATRIX Group: Birthday Demo #1 for Aishwarya Kendle<br>

        Technology Used: OpenGL Fixed Function Pipeline and Win32 SDK<br>

        Programming Language: C/C++<br>

        Concepts Used :<br>
        - 2D Primitive Geometry for drawing.<br>
        - PlaySound() used for playing audio<br>

        Music : "Birthday Aahe Bhavacha" by Shekhar Gaikwad.<br>

        Project Leader : Pradnya Vijay Gokhale<br>
        Developers : Amogh Dhupkar, Atharv Natu, Ishan Awate, KISHOR EKBOTE, Mrunal Bajaj, Pratik Jagadale, Rama
        Gokhale, Rutvik Nalawade, Sagar Rathod, Sahil Choure and Varun Gajre..<br>
      </p>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fd1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">-----------------------------------------------</p>
    </div>
  </footer>

</body>