.SelectPage {
    height: 50vh;
    width: 10vw;
}

.selectBox {
    width: 10px;
    height: 45px;
    border-radius: 10px;
}

.sec1 {
    width: 10px;
}

.SelectDiv {
    text-align: center;
    margin-top: 15px;
}