.SelectPage {
    height: 50vh;
    width: 10vw;
}

.selectBox {
    width: 10px;
    height: 45px;
    border-radius: 10px;
}

.sec1 {
    width: 10px;
}

.mainImg1 {
    align-items: center;
    width: 90vw;
    height: 70vw;
}

.SelectDiv {
    text-align: center;
    margin-top: 15px;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

div {
    text-align: center;
}