<body class="u-body u-xl-mode" data-lang="en">

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/dNQ4XVQfZ0I?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Deepotsav (दीपोत्सव)</h2>
      <p class="u-text u-text-2"><br>
        Celebration of Lights and victory of good over evil and darkness - is the ultimate definition of the ancient
        Hindu festival - “Deepavali” (दीपावली), also known as “Deepotsav” (दीपोत्सव).<br><br>

        The word “Deepotsav” (दीपोत्सव) is a combination of two words :- “Deep” (दीप) and “Utsav” (उत्सव).
        “Deep” (दीप) is the Sanskrit word for ‘a flaming light’, and “Utsav” (उत्सव) means ‘celebration’.<br><br>

        The festivities of “Deepotsav” begin with putting up lights in temples, followed by offering of lights and
        prayers to the Gods. Afterward, the celebration takes on a grander form - with diyas, fire-crackers, rangoli,
        distribution of sweets among friends and family and offering of sweets to the Gods, etc. and then the
        celebration ends - yet again - in prayers and the traditional ritual of the “Lakshmi Poojan”.<br><br>


        Group Leader: Pradnya Vijay Gokhale<br><br>

        Participating Members:<br>
        1. Aishwarya Sanjay Kendle<br>
        2. Amogh Uday Dhupkar<br>
        3. Atharv Dhananjay Natu<br>
        4. Kishor Pandurang Ekbote<br>
        5. Mrunal Deepak Bajaj<br>
        6. Pratik Rajendra Jagadale<br>
        7. Dr. Rama Vijay Gokhale<br>
        8. Varun Vijay Gajre<br>
        9. Sahil Rajaram Choure<br>
        10. Sagar Premchand Rathod<br>
        11. Rutvik Pravin Nalawade<br><br>


        Technical Details:<br>

        Effects Implemented:<br>
        1. Static Model Loading.<br>
        2. Model Creation Programmatically using simple 3D Geometry Primitives<br>
        3. Multi-texturing<br>
        4. Render-to-texture (Framebuffer Objects)<br>
        5. Camera Movement Using Bezier Curves<br>
        6. Fog<br>
        7. Perlin Noise<br>
        8. Water Rendering<br>
        9. Atmospheric Scattering<br>
        10. Normal Mapping<br>
        11. Parallax Mapping<br>
        12. Specular Mapping<br>
        13. Height Map<br>
        14. Multiple Point Lights<br>
        15. Bloom<br>
        16. Particle Systems<br>
        17. Wobble<br>
        18. Gaussian Blur<br>


        Technologies Used:<br>
        Rendering Technology: WebGL 2.0<br>
        Browser: Mozilla Firefox<br>
        Operating System: Windows 11<br>
        Programming Language: JavaScript and GLSL<br><br>

        References:<br>
        1. All RTR course Assignments and basic concepts taught by Dr. Vijay D. Gokhale Sir<br><br>

        2. Books<br>
        ■ GPU Gems Part 2 - edited by Matt Pharr, Randima Fernando<br>
        ■ OpenGL Programming Guide 8th Edition - Dave Shreiner, Graham Sellers, John M. Kessenich, Bill Licea-Kane<br>
        ■ OpenGL SuperBible 7th Edition - Graham Sellers, Richard S. Wright Jr. , Nicholas Haemel<br>
        ■ OpenGL Shading Language (3rd Edition) - Randi J. Rost, Bill Licea-Kane<br>
        ■ OpenGL 4.0 Shading Language Cookbook - David Wolff<br>
        ■ Learn OpenGL - Joey de Vries<br><br>

        3. Websites<br>
        ■ Wikipedia (https://www.wikipedia.org)<br>
        ■ Thin Matrix YouTube Channel ( / @thinmatrix )<br>
        ■ WebGL Fundamentals (https://webglfundamentals.org)<br>
        ■ https://learnopengl.com/<br><br>


        Softwares Used:<br>
        1. Blender<br>
        2. Apple Final Cut Pro 10.6<br>
        3. Adobe Photoshop<br>
        4. KIRI Engine 3D Scanner<br>
        5. OBS Studio<br><br>


        Music Details:<br>
        Song : Lakh Lakh Chanderi Tejachi Nyari Duniya<br>
        Movie : Shejari<br>
        Director : Shantaram Rajaram Vankurde (V. Shantaram)<br>
        Year : 1941<br>
        Music Director : Master Krishnarao<br>
        Lyrics : Shantaram Athavle<br>
        Singer : Multiple singers (Group Song)<br>

        Background Music :<br>
        1. “Tarana” from “Chanakya” series (1991-1992) - Episode 40<br>
        2. Rudra Recitation by Vaze Guruji of Vai.<br>
      </p>
    </div>
  </section>


  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fd1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">-----------------------------------------------</p>
    </div>
  </footer>

</body>