<!-- <app-home></app-home> -->

<html>

<head>
  <title>Matrix Innovations India</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
  <link rel="stylesheet" href="/src/assets/css/main.css" />
</head>


<ng-container *ngIf="isMobileDevice">

  <!-- Wrapper -->
  <div id="wrapper">


    <!-- Main -->
    <ng-container *ngIf="notToShow">
      <div id="main">
        <div class="inner">
          <button class="openbtn " (click)="openNav()"> ☰ </button>

          <!-- Header -->
          <header id="header">
            <a href="../index.html" class="logo">Out of the Darkness, into the<strong> Matrix</strong></a>
            <ul class="icons">
              <li><a href="https://www.youtube.com/@astromedicompsrtr4.0matrix25" class="icon brands fa-youtube"><span
                    class="label">YouTube</span></a>
              </li>
              <li><a href="https://www.facebook.com/AstroMediComp/" class="icon brands fa-facebook-f"><span
                    class="label">Facebook</span></a></li>
            </ul>
          </header>

          <router-outlet></router-outlet>

        </div>
      </div>
    </ng-container>

    <!-- Sidebar -->
    <ng-container *ngIf="show">

      <div id="sidebar alignCenter">
        <div class="inner alignCenter" id="innerId">
          <div class="inner">

            <!-- Search 
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>-->

            <button class="openbtn " (click)="openNav()"> ☰ </button>


            <!-- Menu -->
            <nav id="menu">
              <header class="major">
                <h2>Menu</h2>
              </header>
              <ul>
                <li><a href="/Home">Homepage</a></li>
                <li><a href="/Projects">Projects</a></li>
                <li><a href="/Team">Team</a></li>
                <li><a href="/Gallary">Gallary</a></li>
                <!--<li>
               <span class="opener">Submenu</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li>
            <li><a routerLink="/About" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>-->
              </ul>
            </nav>

            <!-- Section Highlights 
        <section>
          <header class="major">
            <h2>Highlights</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="/assets/images/07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="/assets/images/08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="/assets/images/09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>
-->
            <!-- Section Get in touch-->
            <section>
              <header class="major">
                <h2>Get in touch</h2>
              </header>
              <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
                ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
                tempus aliquam.
              </p>
              <ul class="contact">
                <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
                <li class="icon solid fa-phone">+91 9284487145</li>
                <li class="icon solid fa-home">Anandashram<br />
                  Bajirao Road, Pune.</li>
              </ul>
            </section>

            <!-- Footer -->
            <footer id="footer">
              <p class="copyright">&copy;Copyright 2023 by Matrix Innovations India.</p>
            </footer>
          </div>
        </div>
      </div>
    </ng-container>

  </div>

</ng-container>


<ng-container *ngIf="isWindowsOrLinuxeDevice">

  <!-- Wrapper -->
  <div id="wrapper">

    <!-- Main -->
    <div id="main">
      <div class="inner">

        <!-- Header -->
        <header id="header">
          <a href="../index.html" class="logo">Out of the Darkness, into the<strong> Matrix</strong></a>
          <ul class="icons">
            <li><a href="https://www.youtube.com/@astromedicompsrtr4.0matrix25" class="icon brands fa-youtube"><span
                  class="label">YouTube</span></a>
            </li>
            <li><a href="https://www.facebook.com/AstroMediComp/" class="icon brands fa-facebook-f"><span
                  class="label">Facebook</span></a></li>
          </ul>
        </header>

        <router-outlet></router-outlet>

      </div>
    </div>



    <button class="openbtn " (click)="openNav()"> ☰ </button>

    <!-- Sidebar -->
    <ng-container *ngIf="show">

      <div id="sidebar">
        <div class="inner" id="innerId">

          <!-- Search 
        <section id="search" class="alt">
          <form method="post" action="#">
            <input type="text" name="query" id="query" placeholder="Search" />
          </form>
        </section>-->

          <!-- Menu -->
          <nav id="menu">
            <header class="major">
              <h2>Menu</h2>
            </header>
            <ul>
              <li><a href="/Home">Homepage</a></li>
              <li><a href="/Projects">Projects</a></li>
              <li><a href="/Team">Team</a></li>
              <li><a href="/Gallary">Gallary</a></li>
              <!--<li>
               <span class="opener">Submenu</span>
              <ul>
                <li><a href="#">Lorem Dolor</a></li>
                <li><a href="#">Ipsum Adipiscing</a></li>
                <li><a href="#">Tempus Magna</a></li>
                <li><a href="#">Feugiat Veroeros</a></li>
              </ul>
            </li>
            <li><a routerLink="/About" routerLinkActive="active" ariaCurrentWhenActive="page">About</a></li>-->
            </ul>
          </nav>

          <!-- Section Highlights 
        <section>
          <header class="major">
            <h2>Highlights</h2>
          </header>
          <div class="mini-posts">
            <article>
              <a href="#" class="image"><img src="/assets/images/07.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="/assets/images/08.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
            <article>
              <a href="#" class="image"><img src="/assets/images/09.jpg" alt="" /></a>
              <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore aliquam.</p>
            </article>
          </div>
          <ul class="actions">
            <li><a href="#" class="button">More</a></li>
          </ul>
        </section>
-->
          <!-- Section Get in touch-->
          <section>
            <header class="major">
              <h2>Get in touch</h2>
            </header>
            <p>Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim lorem
              ullamcorper dolore. Proin sed aliquam facilisis ante interdum. Sed nulla amet lorem feugiat
              tempus aliquam.
            </p>
            <ul class="contact">
              <li class="icon solid fa-envelope"><a href="#">information@untitled.tld</a></li>
              <li class="icon solid fa-phone">+91 9284487145</li>
              <li class="icon solid fa-home">Anandashram<br />
                Bajirao Road, Pune.</li>
            </ul>
          </section>

          <!-- Footer -->
          <footer id="footer">
            <p class="copyright">&copy;Copyright 2023 by Matrix Innovations India.</p>
          </footer>
        </div>
      </div>
    </ng-container>


  </div>


</ng-container>




<!-- Scripts -->
<script src="./assets/js/jquery.min.js"></script>
<script src="./assets/js/browser.min.js"></script>
<script src="./assets/js/breakpoints.min.js"></script>
<script src="./assets/js/util.js"></script>
<script src="./assets/js/main.js"></script>


</html>