<body class="u-body u-xl-mode" data-lang="en">

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/wWYrBJTIQ9w?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Rama Gokhale(madam).</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>


  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/23d-7b3-FM4?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Aishwarya Kendale.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/ftxgw-_kxPg?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering & Vertex Displacement By Rutvik Nalawade.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/45N107PlLG8?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Atharv Natu.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/j9CpLHWFMAQ?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering & Vertex Displacement By Mrunal Bajaj.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/NKbb8-4BW2g?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water, Terrain & Cloud Rendering By Pratik Jagadale.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/8YkJLylGl2s?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water & Cloud Rendering By Kishor Ekbote.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/2m_C5PeCaXs?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Sahil Choure.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/ifF_qYz3krE?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Amogh Dhupkar.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>



  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/4tE_1MqZNLw?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Water Rendering By Varun Gajre.</h2>
      <p class="u-text u-text-2"><br>
      </p>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fd1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">-----------------------------------------------</p>
    </div>
  </footer>

</body>