<body class="u-body u-xl-mode" data-lang="en">

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/qllC3gnCRlw?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">मोगरा फुलला</h2>
      <p class="u-text u-text-2"><br>
        Through this demo I have tried to show some period in the life of Dnyaneshwar Maharaj.
        We perceive our worldly existence as an illusion, a reality that endures through many cycles of death and life.
        To be freed from this illusory world and to unite with the reality of Supreme Lord Vitthal
        He preserved Gita Dharma and spread it to everyone.<br>

        Demo Name: मोगरा फुलला<br>
        Developer: Aishwarya Sanjay Kendle<br>
        Group: Matrix<br>
        Group Leader: Pradnya Vijay Gokhale<br>
        Poem: मोगरा फुलला<br>
        Poet: संत ज्ञानेश्वर महाराज<br>
        References:<br>
        1. RTR Assignments<br>
        2. Matrix Group Birthday Projects<br>
        3. https://nehe.gamedev.net/<br>
        Background Music: Eternity - The Inner Soul [ Rakesh Chaurasia, Rupak Kulkarni, Sunil Das, Ulhas Bapat, Likayat
        Ali Khan, Madhu Dhumal, Bhavani Shankar ]<br>
        Voice-Over: Mrs. Anupreeta Sanjay Kendle<br><br>

        Technologies Used -<br>
        1) Operating System - Windows 10<br>
        2) Programming Language - C<br>
        3) Native Windowing - Win32 SDK<br>
        4) Graphics API - OpenGL FFP<br>
        5) Audio - OpenAL<br>
        6) Data Structure - Stack & Linked List<br>
      </p>
    </div>
  </section>


  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/qllC3gnCRlw?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">शासन</h2>
      <p class="u-text u-text-2"><br>
        Demo Name : "शासन"<br>
        Presented By : Kishor Pandurang Ekbote<br>
        Group : Matrix (RTR 4)<br>
        Group Leader : Pradnya Vijay Gokhale<br>
        Poem: "शासन"<br>
        Poet : विष्णू वामन शिरवाडकर ( कुसुमाग्रज )<br>
        References :<br>
        Redbook 3rd edition<br>
        nehe.gamedev.net<br>
        XWindows assignments<br>
        Music :<br>
        "Silver Linings (Cell Sessions, Vol. 1) by Hendyamps Studios"<br>
        "Beginning To End" by Hendyamps Studios<br>
        Technologies used :<br>
        XWindows<br>
        OpenGL<br>
        OpenAL<br>
        Programming Language Used : C / C++<br>
        Operating System : Ubuntu 16.04 LTS<br>
        Data Structure Used : Singly Linked List<br>

        Special Effects :<br>
        Basic Particle System<br>
        Terrain Rendering using Heightmap<br>

        Story Line :<br>
        Some situations happen in our life which makes us to choose wrong options or to take wrong decisions. Those
        wrong
        choices impacts our life so bad and ultimately we starts to doubt our abilities and we also start thinking that
        we
        are meant to be criticized by others as well. Such thinking creates a gap between 'what we wanted ourself to be'
        and 'what we are actually becoming' . So I think, that situation of mind and the burning anger about self is the
        meaning that Poet "Kusumagraja" wanted to convey in his poem.<br>
        So I have tried to create the Graphics based on my above understanding about his creation in 'OpenGL'
        technology.<br>

        स्वतःची खरी कुवत माहिती असतानादेखील आपल्या आयुष्यातील काही घटना/परिस्थिती अशा प्रकारे घडतात/समोर येतात, की आपण
        काही चुकीचे निर्णय घेतो किंवा काही अशा कृती करतो ज्या आपल्या तत्वाला पटणाऱ्या नसतात. आणि मग अशा कृतींमुळे आपण
        स्वतः ला खूप हीन समजायला लागतो. हाच स्वतः बद्दल चा हीन भाव आपल्या मनात खूप काळापासून साठत राहिला की मग आपल्या
        मनाची जी कुचंबणा होते, किंवा मनात स्वतः बद्दल जो राग साठत जातो ती मानसिक स्थिती कविवर्य 'कुसुमाग्रजांनी' या
        कवितेतून मांडलीये असं मला वाटतं.<br>
        कुसुमाग्रजांच्या या काव्याचे मी OpenGL मधून मला समजलेल्या वरील अर्थाचे Graphichs साकारण्याचा प्रयत्न केलेला
        आहे.<br>


        I'm very thankful to my group members "MATRICES" for being very supportive . Very special thanks to Pradnya
        Vijay
        Gokhale and Rama Gokhale madam for guiding me.<br>
        Nothing of this was possible without your teaching "Vijay Gokhale sir" , very glad to have you as Teacher.<br>
      </p>
    </div>
  </section>


  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/3SAvggxb0j4?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">पायसदान</h2>
      <p class="u-text u-text-2"><br>
        Created By : Pratik Rajendra Jagadale<br>
        Group : Matrix Group (RTR 4.0)<br>
        Group Leader : Pradnya Vijay Gokhale<br>

        मूळ कविता : दशरथा घे हें पायसदान.<br>

        कवी : ग. दि. माडगूळकर.<br>

        सारांश / Description:<br>
        हा Demo, ग. दि. माडगूळकर यांच्या "गीतरामायण" या गाण्यांचा संग्रह मधील "दशरथा घे हें पायसदान" ही कविता आहे. या
        मध्ये "दशरथाच्या भक्तीने प्रसन्न होऊन भगवान विष्णूने पाठवलेल्या प्रसादासह अग्निदेव प्रकट होतात आणि म्हणतात
        "दशरथा घे हें पायसदान" की प्रसाद सेवन केल्यावर राण्यांनी गर्भधारणा केलेली मुले महान योद्धा होतील" याचं graphical
        visualization केलं आहे.<br><br>

        Technical Details<br><br>

        Technologies Used :<br>

        ● Operating System : Windows 10<br>
        ● Rendering Technology : OpenGL Fixed Function Pipeline<br>
        ● Audio : OpenAL<br>
        ● Windowing and User Interface : Win32SDK<br>
        ● Programming Language : C/C++<br>
        ● Data Structure Used : Doubly Circular Linked List<br><br>

        References :<br>
        ● गीतरामायण<br>
        ● RTR Course Assignments<br>
        ● OpenGL Programming Guide 3rd Edition<br>
        ● OpenGL SuperBible 3rd Edition<br>
        ● nehe.gamedev.net<br>


        Background Music :<br>
        ● Tanpura – Tanpura Indian Classical Music by Deniel OFFICIAL (YouTube Channel).<br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/2GjV4ltTGFs?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">संधिप्रकाशात</h2>
      <p class="u-text u-text-2"><br>
        Created By : Rama Vijay Gokhale.<br>

        मूळ कविता : संधिप्रकाशात<br>

        कवी : कविवर्य बाळकृष्ण भगवन्त (बा. भ. ) बोरकर<br>

        सारांश / Description :<br>

        "संधिप्रकाशात अजून जो सोने<br>
        तो माझी लोचने मिटो यावी"<br>
        आयुष्याच्या संध्याकाळी, सूर्यास्तापूर्वीची सोनेरी किरणे असेपर्यंतच एकमेकांच्या साक्षीनेच डोळे मिटावेत…<br>
        Technical Details<br>

        Technologies Used :<br>

        ● Operating System : Windows 10<br>
        ● Rendering Technology : OpenGL Fixed Function Pipeline<br>
        ● Audio : OpenAL<br>
        ● Windowing and User Interface : Win32SDK<br>
        ● Programming Language : C/C++<br>
        ● Data Structure Used : Queue of Function Pointers<br><br>

        References :<br>
        ● RTR Course Lectures and Assignments<br><br>

        Music :<br>
        ● “In Search of Peace, Love and Harmony” (The Valley Recalls (1995)) - by Pandit Shivkumar Sharma and Pandit
        Hariprasad Chaurasia
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/v9b8KosXF2g?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">कुंभारासारखा गुरू नाही रे जगात</h2>
      <p class="u-text u-text-2"><br>
        कुंभारासारखा गुरू नाही रे जगात - Kumbhara Sarkha Guru Nahi re Jagat<br>


        This demo was created for a Marathi Poem Kumbhara Sarkha Guru Nahi re Jagat (कुंभारासारखा गुरू नाही रे जगात) by
        Ga Di Madgulkar (Gajanan Digambar Madgulkar). The poem gives analogy between a Potter or Pot maker and a Guru
        i.e., Teacher. A Pot maker is able to create various types of Objects and pots by treating any Clay with gentle
        actions along with Harsh but necessary treatment to Mould them into strong object. Similarly, a Guru guides and
        nurtures disciples for their growth but also teaches rigorous lessons which will prepare disciples for
        future.<br><br>


        Demo Name: कुंभारासारखा गुरू नाही रे जगात (Kumbhara Sarkha Guru Nahi re Jagat)<br>
        Developer: Varun Gajre<br>
        Group: Matrix Group<br>
        Group Leader: Pradnya Gokhale<br>
        Poem: कुंभारासारखा गुरू नाही रे जगात<br>
        Poet: कविवर्य - शब्दप्रभू कै. ग.दि. माडगूळकर<br><br>
        References:<br>
        1. RTR4 Assignments<br>
        2. Matrix Group Birthday Projects<br>
        3. https://nehe.gamedev.net/<br>


        Background Music: गिरीश काळे (कुंभारासारखा गुरू Cover song)<br>
        Voice-Over: Varun Gajre<br><br>


        Technologies Used -<br>
        1) Operating System - Windows 10<br>
        2) Programming Language - C and C++<br>
        3) Native Windowing - Win32 SDK<br>
        4) Graphics API - OpenGL FFP (Fixed Functional Pipeline)<br>
        5) Audio - OpenAL<br>
        6) Data Structure - Stack of Textures
        <br>

        Special Effect: Fire Effect using basic particle engine<br>


        Tools Used -<br>
        1) Visual Studio 2019 Community Edition - Text Editor<br>
        2) Audacity - For Audio Editing<br>
        3) OBS Studio - For Recording the Demo<br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/4D6_KPDeNJI?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Waqt</h2>
      <p class="u-text u-text-2"><br>
        Demo Name : Waqt<br>
        Creator : Mrunal Bajaj<br>
        Group : Matrix 4.0<br>
        Group Leader : Pradnya Gokhale<br>
        Poem : Ye Waqt Bhi Guzar Jayega<br>
        Written By : Siddharth Kaushal<br>
        References : All class assignments, https://nehe.gamedev.net/<br>
        Background Music : Hans Zimmer-Time(Inception)<br>
        Voice-Over : Mrunal Bajaj<br>

        Story Line :<br>
        Many times in life, things don't happen in our favour.<br>
        Covid time was one of them.<br>
        In this, many people lost their jobs, many lost their loved ones.<br>
        A lot of people were going through mental health issues.<br>

        In those times, Siddharth Kaushal had written a wonderful song, based on the message - keep the hope alive,
        even<br>
        this time will pass.<br>

        As a part of a project, I am sharing a demo created in OpenGL FFP which is based on this poem -<br>
        ये वक्त भी गुजर जाएगा। (Ye waqt bhi guzar jayega)<br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/5SEvDvjXDOA?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Teerth Vitthal Kshetra Vitthal (तीर्थ विठ्ठल, क्षेत्र विठ्ठल )</h2>
      <p class="u-text u-text-2"><br>
        Demo Name : Teerth Vitthal Kshetra Vitthal (तीर्थ विठ्ठल, क्षेत्र विठ्ठल )<br><br>

        Creator : Rutvik Nalawade<br>

        Group : Matrix (RTR 4.0)<br>
        Group Leader : Pradnya Gokhale<br>
        Abhang : Teerth Vitthal Kshetra Vitthal (तीर्थ विठ्ठल, क्षेत्र विठ्ठल )<br>
        Written By : Sant Namdev<br>
        Refrences : RTR Assignments<br>
        BackGround Music : Sunil Mahatre - Tabla<br>
        Voice Over : Atharv Natu<br><br>

        Concepts Used :<br>

        - Operating System :Windowd 10<br>
        - Programming Language : C<br>
        - Native Windowing : Win32 SDK<br>
        - Graphics API : OpenGL FFP<br>
        - Audio : OpenAL<br>
        - Data Structure : Stack<br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/uiMEWcUYiO8?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Daivagati (दैवगति)</h2>
      <p class="u-text u-text-2"><br>
        Daivagati (दैवगति)<br>

        About Project<br>
        1.
        At the beginning we have offer our prayer to God Ganesh to avoid any difficulty in the work<br>

        2.
        Navagraha stotra starts and we can see each planet as its mantra is playing in the background.<br>
        Navagraha Stotra consists of nine mantras for nine planets.<br>
        Navagraha Stotra or Nava Graha Stotram is a prayer addressed to Navagrahas or the Nine Planets which is believed
        to have an effect on humans ups and downs.<br>

        3.
        At last we have Ashirvad Mantra to seek blessing from our guru and god.<br>

        Demo Name : Daivagati (दैवगति)<br>
        Developer : Amogh Dhupkar (अमोघ धुपकर)<br>
        Group : Matrix (RTR 4.0 / RTR 2021)<br>
        Group Leader : Pradnya Gokhale<br>
        Poem : Navagraha Stotra (नवग्रहस्तोत्र)<br>
        Written By : Maharshi Vyas<br>
        Refrences : RTR Assignments<br>
        Background Music : (Santoor and Tabla at Assi Ghat, Varanasi) by Samuel Corwin , Veena by Veena Kinhal
        Vedic Chants(स्तोत्र पठण ) : Ve.Mu. Rohit Dhupkar<br>

        Technology Used :<br>

        - Operating System : Windows 10<br>
        - Programming Language : C<br>
        - Native Windowing : Win32 SDK<br>
        - Graphics API : OpenGL FFP<br>
        - Audio : OpenAL<br>
        - Data Structure : Stack<br>

        Tools Used :<br>

        - Visual Studio 2022 Community Edition - Text Editor<br>
        - Audacity - For Audio Editing<br>
        - OBS Studio - For Recording the Demo<br>

        Doing this project was amazing experience.<br>
        In terms of extensive coding in C language<br>
        Also learned, selection of audio and background music, synchronization of Audio Video, Transitioning of
        scenes<br>
        etc.(*All this from coding*).<br>

        Thanks to all Matrix Group Members<br>

        All this is learned under the guidance of
        Group Leader Pradnya Vijay Gokhale And Dr. Vijay Gokhale Sir<br>
      </p>
    </div>
  </section>

  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/pVc4pQTGve0?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">देणाऱ्याने देत जावे (OpenGL FFP DS Demo) - Atharv Natu</h2>
      <p class="u-text u-text-2"><br>
        देणाऱ्याने देत जावे<br><br>

        This project was created to demonstrate the utmost importance of humanity and generosity in our lives. It is
        based upon the poem देणाऱ्याने देत जावे, which explains how we need to imbibe certain attributes or qualities
        within us, taking inspiration from various factors in nature like flowers, mountains, clouds, rivers, and
        beaches. It teaches us how we can help others, ultimately causing everyone to put forward a helping
        hand!<br><br>

        Demo Name: देणाऱ्याने देत जावे<br>
        Developer: Atharv Natu<br>
        Group: Matrix<br>
        Group Leader: Pradnya Gokhale<br>
        Poem: देणाऱ्याने देत जावे<br>
        Poet: कविवर्य कै. विंदा करंदीकर.<br>
        References: 1) RTR Assignments<br>
        2) Matrix Group Birthday Projects<br>
        3) https://nehe.gamedev.net/<br>
        Background Music: Anonymous<br>
        Voice-Over: Dr.Bhagyashri Deodatta Natu<br>

        Technologies Used -<br>
        1) Operating System - Windows 11<br>
        2) Programming Language - C<br>
        3) Native Windowing - Win32 SDK<br>
        4) Graphics API - OpenGL FFP<br>
        5) Audio - OpenAL<br>
        6) Data Structure - Queue of Textures<br>

        Special Effects Using OpenGL - Terrain Rendering<br>

        Tools Used -<br>
        1) Visual Studio 2022 Community Edition - Text Editor<br>
        2) Audacity - For Audio Editing<br>
        3) Brave Browser - For Textures<br>
        4) OBS Studio - For Recording the Demo<br>
      </p>
    </div>
  </section>


  <section class="u-align-center u-clearfix u-grey-10 u-section-1" id="sec-48e2">
    <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <div class="u-align-left u-expanded-width-sm u-expanded-width-xs u-video u-video-1">
        <div class="embed-responsive embed-responsive-1">
          <iframe style="position: absolute;top: 0;left: 0;width: 100%;height: 100%;" class="embed-responsive-item"
            src="https://www.youtube.com/embed/HGhvNtISNzo?mute=0&amp;showinfo=0&amp;controls=1&amp;start=0"
            frameborder="0" allowfullscreen=""></iframe>
        </div>
      </div>
      <h2 class="u-text u-text-default u-text-1">Santha Nile He Paani DS OpenGL Demo by Sagar Rathod</h2>
      <p class="u-text u-text-2"><br>
        This demo is portrayal of beautiful poem "Santha Nile He Paani" by most renowned poet Mr. Mangesh Padgaonkar.
        Demo is created using OpenGL Fixed Function Pipeline.<br>
        Technical Details:<br>

        Operating System: Windows 11<br>
        Real Time Rendering Technology: OpenGL Fixed Function Pipeline<br>
        Audio: OpenAL<br>
        Windowing: Win32 SDK<br>
        Programming Language: C/C++<br>
        Data Structure: Stack<br>

        References:<br>
        RTR Course Assignments<br>
        Guidance of Group Leader and Team Members.<br>

        Background Music:<br>
        Nature's Sunrise by Tim Janis<br>

        Kishor Ekbote<br>
        Everyone in my group who helped me in one way or other.<br>
        And forever indebted to our Guru - Dr. Vijay D. Gokhale.<br>
      </p>
    </div>
  </section>

  <footer class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-7fd1">
    <div class="u-clearfix u-sheet u-sheet-1">
      <p class="u-small-text u-text u-text-variant u-text-1">-----------------------------------------------</p>
    </div>
  </footer>

</body>