<section>
  <div class="row_project_list">
    <div class="col-md-4 video">
      <iframe class="YouTube" src="https://www.youtube.com/embed/dNQ4XVQfZ0I" title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
    </div>
    <div class="col-md-8 desc">
      <div class="Title">
        <h2><b>Dipoostav</b></h2>
      </div>
      <div class="Desc">
        Celebration of Lights and victory of good over evil and darkness - is
        the ultimate definition of the ancient Hindu festival - “Deepavali”
        (दीपावली), also known as “Deepotsav” (दीपोत्सव). The word “Deepotsav”
        (दीपोत्सव) is a combination of two words :- “Deep” (दीप) and “Utsav”
        (उत्सव). “Deep” (दीप) is the Sanskrit word for ‘a flaming light’, and
        “Utsav” (उत्सव) means ‘celebration’. The festivities of “Deepotsav”
        begin with putting up lights in temples, followed by offering of lights
        and prayers to the Gods. Afterward, the celebration takes on a grander
        form - with diyas, fire-crackers, rangoli, distribution of sweets among
        friends and family and offering of sweets to the Gods, etc. and then the
        celebration ends - yet again - in prayers and the traditional ritual of
        the “Lakshmi Poojan”.
      </div>
    </div>
  </div>
</section>