<section class="PhotoSection">
  <h1>Photo Gallery</h1>
  <div class="row_photo">
    <div class="column">
      <img src="./assets/ProjectHeader/01.jpg">
      <img src="./assets/ProjectHeader/02.png">
      <img src="./assets/ProjectHeader/03.png">
      <img src="./assets/ProjectHeader/04.png">
      <img src="./assets/ProjectHeader/05.png">
      <img src="./assets/ProjectHeader/06.png">
      <img src="./assets/ProjectHeader/07.png">
    </div>
    <div class="column">
      <img src="./assets/ProjectHeader/rocks.jpg">
      <img src="./assets/ProjectHeader/04.png">
      <img src="./assets/ProjectHeader/02.png">
      <img src="./assets/ProjectHeader/07.png">
      <img src="./assets/ProjectHeader/05.png">
      <img src="./assets/ProjectHeader/01.jpg">
    </div>
    <div class="column">
      <img src="./assets/ProjectHeader/01.jpg">
      <img src="./assets/ProjectHeader/02.png">
      <img src="./assets/ProjectHeader/rocks.jpg">
      <img src="./assets/ProjectHeader/04.png">
      <img src="./assets/ProjectHeader/05.png">
      <img src="./assets/ProjectHeader/06.png">
      <img src="./assets/ProjectHeader/07.png">
    </div>
    <div class="column">
      <img src="./assets/ProjectHeader/08.png">
      <img src="./assets/ProjectHeader/04.png">
      <img src="./assets/ProjectHeader/02.png">
      <img src="./assets/ProjectHeader/rocks.jpg">
      <img src="./assets/ProjectHeader/05.png">
      <img src="./assets/ProjectHeader/01.jpg">
    </div>
  </div>
</section>