<!-- Banner Home 1-->
<section id="banner">
    <div class="content">
        <header>
            <h1><br />
                Matrix Innovations India.</h1>
            <p>This is place where transform's code into Pure Magic.</p>
        </header>
        <p><b>Your dream, Our Creation!</b> <br /><br />

            <b>Our Story :</b><br />

            It all started back in 2021, November - "mAtrix 4.0".<br />

            We all are Astromedicomp's RTR (Real Time Rendering), 4th batch's students.<br />
            Matrix was our group name which was inspired from the mathematical concept "matrices".<br />
            From "Matrix Group" to "MatrixInnovations" we grew.<br />
            The journey right from a basic triangle to special effects encouraged us to build something of our
            own!<br />
            We dare to live by the 4 P's - Passion, Patience, Persistence and Perfection. And here we are
            today!<br /><br />

            <!--<b>Our speciality :</b><br />-->

        </p>
        <ul class="actions">
            <!-- <li><a href="#" class="button big">Learn More</a></li> -->
        </ul>
    </div>
    <span class="image object myHeight">
        <img src="/assets/images/matrix_logo.ico" alt="" />
    </span>

</section>

<!-- Section Home 1-->
<section>
    <header class="major">
        <h2>Technology Stack</h2>
    </header>
    <div class="features">
        <article>
            <span class="icon fa-gem"></span>
            <div class="content">
                <h3>OpenGL</h3>
                <p> OpenGL is a graphics library which communicates with Graphics Card and creates 2D/3D images/videos
                    on
                    monitor.<br />
                    All 3D graphics softwares like Blender, Maya, AutoCAD uses OpenGL beneath.<br />
                    We can create special effects in movies like Avatar, Jurassic Park, Avengers using openGL.<br />
                    Also, scientific visualizations in medical field, digital image processing uses OpenGL.<br />
                    It would not be a wrong statement if we say - "OpenGL open the gates to the magic!".</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-paper-plane"></span>
            <div class="content">
                <h3>DirectX</h3>
                <p> Direct3D is a low-level API for drawing primitives with the rendering pipeline, or for performing
                    parallel operations with the compute shader.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-rocket"></span>
            <div class="content">
                <h3>HPP(Cuda & OpenCL)</h3>
                <p>CUDA - CUDA® is a parallel computing platform and programming model developed by NVIDIA for general
                    computing on graphical processing units (GPUs).</p>
                <p>OpenCL - OpenCL is a framework for writing programs that execute across heterogeneous platforms
                    consisting of central processing units, graphics processing units, digital signal processors,
                    field-programmable gate arrays and other processors or hardware accelerators.</p>
            </div>
        </article>
        <article>
            <span class="icon solid fa-signal"></span>
            <div class="content">
                <h3>Win32 SDK</h3>
                <p>The Windows API, informally WinAPI, is Microsoft's core set of application programming interfaces
                    available in the Microsoft Windows operating systems.</p>
            </div>
        </article>
    </div>
</section>

<!-- Section Home 3-->
<section>
    <header class="major">
        <h2>Posts</h2>
    </header>
    <div class="posts">
        <article>
            <a href="#" class="image"><img src="/assets/images/pandora.png" alt="" /></a>
            <h3>Pandora</h3>
            <p>Sir always tells students that movies, like Jurrassic Park, Avatar are made with those softwares which
                has OpenGL at their core technology.
                As it is said ... "Low Aim Is Crime"... we have dared to recreate a tiny world of ours resembling to
                that of James Cameron's Avatar, and
                present it to one of our dearest group member, Sahil Choure, on occasion of his birthday.</p>
            <ul class="actions">
                <li><a href="https://www.youtube.com/watch?v=D9cCJg2vMwA" class="button">Watch on YouTube</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/WaterRendering.png" alt="" /></a>
            <h3>Water Effect in OpenGL</h3>
            <p>Inspired from the movie, Avatar: The Way of Water, our group leader Pradnya Gokhale decided to teach us
                water rendering.
                Based on that teaching we all have created small individual demos which represents water rendering along
                with reflection and refraction.</p>
            <ul class="actions">
                <li><a href="https://youtube.com/playlist?list=PLShQqGuuvm9GiXLdJZgqFqj_FEKf_QeE-" class="button">Watch
                        on YouTube</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/groupexpression.JPG" alt="" /></a>
            <h3>Group Expression</h3>
            <p>We have an "Expressions" tab on AstroMediComp's website (astromedicomp.org), where students share their
                experiences and express their feelings regarding the Real-time Rendering (RTR) course, AstroMediComp in
                general and Gokhale Sir.</p>
            <ul class="actions">
                <li><a href="https://www.youtube.com/watch?v=Senc4RjPpNo" class="button">Watch on YouTube</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/deepostav.png" alt="" /></a>
            <h3>Deepostav</h3>
            <p>Celebration of Lights and victory of good over evil and darkness - is the ultimate definition of the
                ancient Hindu festival - “Deepavali” (दीपावली), also known as “Deepotsav” (दीपोत्सव).

                The word “Deepotsav” (दीपोत्सव) is a combination of two words :- “Deep” (दीप) and “Utsav” (उत्सव).
                “Deep” (दीप) is the Sanskrit word for 'a flaming light', and “Utsav” (उत्सव) means 'celebration'.</p>
            <ul class="actions">
                <li><a href="https://youtu.be/dNQ4XVQfZ0I" class="button">Watch on YouTube</a></li>
            </ul>
        </article>
        <article>
            <a href="#" class="image"><img src="/assets/images/movietime.jpg" alt="" /></a>
            <h3>Movie Time - Avatar Way of Water</h3>
            <p>We work harder when we get sense of achievement.
                At astromedicomp, we have WebGL project presentation for every batch after 10-12 months of the batch.
                It is a platform where we can showcase our hardwork of 10-12 months.
                Our team was immensely passionate and excited about it that we could complete the entire project 2 days
                prior to the deadline and we were all amazed about it.
                To celebrate our dedication and enthusiasm, we gave ourselves an eye treat and went for a movie show,
                Avatar: The Way of Water.</p>
            <ul class="actions">
                <li><a href="/Gallary" class="button">Watch Photod</a></li>
            </ul>
        </article>
        <article>
            <!-- <a href="#" class="image"><img src="/assets/images/06.jpg" alt="" /></a>
            <h3>Template</h3>
            <p>Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore. Proin aliquam
                facilisis ante
                interdum. Sed nulla amet lorem feugiat tempus aliquam.</p>
            <ul class="actions">
                <li><a href="#" class="button">More</a></li>
            </ul> -->
        </article>
    </div>
</section>